*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
/* body{
  margin: 0px;
} */
body{
  background-color: lightblue;
}
header, main, footer{
  margin: 30px 20%;
}
header h1{
  font-weight: 900;
  font-size: 60px;
  text-align: center;
}
.container{
  display: inline-block;
  position: relative;
  margin: 2.3%;
  width: 20%;
  height: 250px;
}
.card_fix{
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top;
  background-color: white;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.position_name{
  background-size: 100%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  color: blue;
  font-size: 30px;
  font-weight: 900;
}
/* all card */
.pattern{
  background-image: url(../img/pattern.png);
  background-color: white;
  background-position: cover;
  background-size: 300px;
  z-index: 2;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.balloon{
  background-image: url(../img/balloon.png);
  z-index: 1;
}
.bicycle{
  background-image: url(../img/bicycle.png);
  z-index: 1;
}
.ship{
  background-image: url(../img/ship.png);
  z-index: 1;
}
.submarin{
  background-image: url(../img/submarin.png);
  z-index: 1;
}
.tractor{
  background-image: url(../img/tractor.png);
  z-index: 1;
}
.tram{
  background-image: url(../img/tram.png);
  z-index: 1;
}
/* all card */

.container:hover .pattern{
  z-index: 0;
}

footer h2{
  text-align: center;
}

.active{
    border: 3px solid red;
}












.scene {
    display: inline-block;
    width: 200px;
    height: 260px;
  /*   border: 1px solid #CCC; */
    margin: 40px 0;
    perspective: 600px;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: crimson;
  }
  
  .card__face--back {
    background: slateblue;
    transform: rotateY(180deg);
  }
  